{% extends 'base.html' %}


{% block content %}

<h1>Expenses</h2>

<ul class="list-group">
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
    <li class="list-group-item">Wegmans</li>
</ul>

{% endblock content %}
